<form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="register-form-box">
  @if (errorMessage()) {
    <div class="error-alert">
      <nz-icon nzType="close-circle" nzTheme="fill" />
      <span>{{ errorMessage() }}</span>
    </div>
  }


  <nz-form-item>
    <nz-form-control [nzErrorTip]="nameErrorTpl">
      <nz-input-group nzPrefixIcon="user" class="custom-input-group">
        <input type="text" nz-input formControlName="fullName" placeholder="Họ và tên" />
      </nz-input-group>
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Vui lòng nhập họ và tên!</ng-container>
        <ng-container *ngIf="control.hasError('minlength')">Tên phải có ít nhất 2 ký tự!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="emailErrorTpl">
      <nz-input-group nzPrefixIcon="mail" class="custom-input-group">
        <input type="email" nz-input formControlName="email" placeholder="Email" />
      </nz-input-group>
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Vui lòng nhập email!</ng-container>
        <ng-container *ngIf="control.hasError('email')">Email không hợp lệ!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordErrorTpl">
      <nz-input-group nzPrefixIcon="lock" class="custom-input-group">
        <input type="password" nz-input formControlName="password" placeholder="Mật khẩu" />
      </nz-input-group>
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Vui lòng nhập mật khẩu!</ng-container>
        <ng-container *ngIf="control.hasError('minlength')">Mật khẩu phải có ít nhất 6 ký tự!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="dateErrorTpl">
      <nz-date-picker formControlName="dateOfBirth" nzPlaceHolder="Ngày sinh" style="width: 100%; border-radius: 8px;"></nz-date-picker>
      <ng-template #dateErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Vui lòng chọn ngày sinh!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="genderErrorTpl">
      <nz-select formControlName="gender" nzPlaceHolder="Giới tính" nzAllowClear style="border-radius: 8px;">
        <nz-option [nzValue]="1" nzLabel="Nam"></nz-option>
        <nz-option [nzValue]="2" nzLabel="Nữ"></nz-option>
        <nz-option [nzValue]="0" nzLabel="Khác"></nz-option>
      </nz-select>
      <ng-template #genderErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Vui lòng chọn giới tính!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="connectionCodeErrorTpl">
      <nz-input-group nzPrefixIcon="link" class="custom-input-group">
        <input type="text" nz-input formControlName="connectionCode" placeholder="Mã kết nối (Tùy chọn)" />
      </nz-input-group>
      <ng-template #connectionCodeErrorTpl let-control>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="avatarErrorTpl">
      <div class="custom-file-upload">
        <label for="avatarFile" class="file-label" [ngClass]="{'has-file': selectedFileUrl()}">
          <ng-container *ngIf="isUploading(); else notUploadingTpl">
            <nz-icon [nzType]="'loading'" /> Đang tải ảnh lên...
          </ng-container>
          <ng-template #notUploadingTpl>
            <ng-container *ngIf="!selectedFileUrl(); else previewTpl">
              <nz-icon nzType="picture" /> Chọn ảnh đại diện
            </ng-container>
            <ng-template #previewTpl>
              <div class="image-preview-container">
                <div class="image-preview">
                  <img [src]="selectedFileUrl()" alt="Avatar preview" />
                  <div class="change-overlay">Thay đổi ảnh</div>
                </div>
                <button type="button" class="remove-btn" (click)="removeImage($event)">×</button>
              </div>
            </ng-template>
          </ng-template>
        </label>
        <input id="avatarFile" type="file" (change)="onFileChange($event)" accept="image/*" class="file-input" [disabled]="isUploading()" />
      </div>
      <ng-template #avatarErrorTpl let-control>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="bioErrorTpl">
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea rows="2" nz-input formControlName="bio" placeholder="Giới thiệu bản thân..."></textarea>
      </nz-textarea-count>
      <ng-template #bioErrorTpl let-control>
         <ng-container *ngIf="control.hasError('maxlength')">Giới thiệu quá dài!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>



  <div class="submit-action">
    <app-button
      type="primary"
      [block]="true"
      [loading]="loading()"
      size="large"
    >
      Create Couple Account
    </app-button>
  </div>
</form>
