<form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="login-form-box">
  @if (errorMessage()) {
    <div class="error-alert">
      <nz-icon nzType="close-circle" nzTheme="fill" />
      <span>{{ errorMessage() }}</span>
    </div>
  }

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input a valid email address!">
      <nz-input-group nzPrefixIcon="mail" class="custom-input-group">
        <input type="email" nz-input formControlName="email" placeholder="Email address" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your password (min 6 characters)!">
      <nz-input-group nzPrefixIcon="lock" class="custom-input-group">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div class="form-options">
    <label nz-checkbox formControlName="rememberMe">Remember me</label>
    <a class="forgot-link">Forgot password?</a>
  </div>

  <div class="submit-action">
    <app-button
      type="primary"
      [block]="true"
      [loading]="loading()"
      size="large"
    >
      Sign In to LoveLink
    </app-button>
  </div>
</form>
